html, body, #root {
  margin: 0;
  background-color: #FF9BD2;
}

.App {
 
  height: 100vh;
}

.navbar {
  text-align: center;
  background-color: #F8F4EC;
}

.navbar section {
  border-bottom: solid rgb(173, 173, 173);
}

/* .navbar-main-section {
} */

.navbar-sub-section {
  display: flex;
  flex-direction: row;
  text-align: left;
  /* height: fit-content; */
}

.navbar-sub-section p {
  margin-left: 5px;
  font-size: 8px;
  font-weight: 200;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F8F4EC;
  text-align: center;
  /* height: fit-content; */
}

.animania-title {
  text-decoration: none;
  color: black;
}

.footer-title {
  font-size: 20px;
}

.footer-copyright {
  font-size: 8px;
  font-weight: 200;
  /* margin-bottom: 15px; */
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-section div h1 {
  font-size: 15px;
}

.footer-ul li {
  /* text-decoration: none; */
  list-style: none;
}

.anime-section {
  /* height: 60%; */
  display:flex;
  align-items: center;
  justify-content: center;
}

/* .anime-index {
  width: 60%;
  height: 500px;
} */


.anime-main {
  display: flex;
  flex-direction: row;
}



.new-anime-form {
  background: #F8F4EC;
  margin-top: 20px;
  border: solid 1px black;
  box-shadow: -10px 10px black;
  display: flex;
  flex-direction: column;
  padding: 10px;

  height: max-content;
}


.new-anime-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

button {
  /* box-shadow: -1px 1px 1px grey; */
  background: #D63484;
  border: solid 1px black;
  color: black;
  /* width: 60px; */
  font-weight: lighter;
  margin: 10px;
}


.index {
  /* display: flex; */
  width: 65%;
  border: solid black;
  box-shadow: -10px 10px black;
  background: #F8F4EC;
}

.anime-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65%;
  border: solid black;
  box-shadow: -10px 10px black;
  background: #F8F4EC;
}

.anime-details-button button {
  margin: 10px;
}

.anime-link {
  text-decoration: none;
  color: black;
}

.anime-link:hover {
  text-decoration: underline;
}